#smoke {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.elem {
  position: absolute;
  width: 10px;
  height: 10px;

  background: radial-gradient(circle, rgb(64, 249, 2) 0%, rgba(225, 22, 33, 0) 80%);
  pointer-events: none;
  animation: ripple 1s ease-out forwards
}
@keyframes ripple {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(10) translateY(-10px);
    opacity: 0;
  }
}